USE [SOLICITUDES]
GO
/****** Object:  Table [dbo].[FERIADOFINSEMANAS]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FERIADOFINSEMANAS](
	[CODFERIADO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCIONFERIADO] [varchar](50) NULL,
	[FECHAFERIADO] [datetime] NULL,
 CONSTRAINT [PK_FERIADOFINSEMANAS] PRIMARY KEY CLUSTERED 
(
	[CODFERIADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[CODESTADO] [int] NOT NULL,
	[DESCESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[CODESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[CODROL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[ESTADOROL] [int] NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[CODROL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRIVILEGIOS]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRIVILEGIOS](
	[CODPRIVILEGIOS] [int] IDENTITY(1,1) NOT NULL,
	[DESCPRIVILEGIOS] [varchar](50) NULL,
	[NOMPRIVILEGIOS] [varchar](50) NULL,
	[ESTADOPRIVILEGIOS] [int] NULL,
 CONSTRAINT [PK_PRIVILEGIOS] PRIMARY KEY CLUSTERED 
(
	[CODPRIVILEGIOS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UNIDADES]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNIDADES](
	[CODUNIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCUNIDAD] [varchar](50) NULL,
	[ESTADOUNIDAD] [int] NULL,
 CONSTRAINT [PK_UNIDADES] PRIMARY KEY CLUSTERED 
(
	[CODUNIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOSOLICITUD]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOSOLICITUD](
	[CODTIPOSOLICITUD] [int] IDENTITY(1,1) NOT NULL,
	[DESCTIPOSOLICITUD] [varchar](50) NULL,
	[ESTADOSOLICITUD] [int] NULL,
	[FECHAINICIO] [datetime] NULL,
	[FECHAFIN] [datetime] NULL,
	[CANTMAXSOLICITUD] [int] NULL,
	[ORIGEN] [varchar](1) NULL,
	[CANTMAXDOC] [int] NULL,
 CONSTRAINT [PK_TIPOSOLICITUD] PRIMARY KEY CLUSTERED 
(
	[CODTIPOSOLICITUD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTIVIDAD]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVIDAD](
	[CODACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[DURACION] [int] NULL,
 CONSTRAINT [PK_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[CODACTIVIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[RUTUSUARIO] [varchar](10) NOT NULL,
	[CODROL] [int] NULL,
	[CODUNIDAD] [int] NULL,
	[ESTADOUSUARIO] [int] NULL,
	[PASSWORD] [varchar](300) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[TELEFONO] [varchar](10) NULL,
	[EMAILUSUARIO] [varchar](50) NULL,
	[DEPENDE] [varchar](10) NULL,
	[FOTO] [varbinary](max) NULL,
	[FOTOXL] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[RUTUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOLICITUD]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOLICITUD](
	[FOLIOSOLICITUD] [int] IDENTITY(1,1) NOT NULL,
	[CODCLI] [varchar](30) NULL,
	[CODCARR] [varchar](30) NULL,
	[CODTIPOSOLICITUD] [int] NULL,
	[FECHASOLICITUD] [datetime] NULL,
	[GLOSASOLICITUD] [varchar](500) NULL,
	[OBSSOLUCION] [varchar](500) NULL,
	[FECHARESOLUCION] [datetime] NULL,
	[CODESTADOSOL] [int] NULL,
	[OPCION] [varchar](2) NULL,
	[CELULARDECONTACTO] [varchar](10) NULL,
	[EMAILCONTACTO] [varchar](50) NULL,
	[FECHAESTIMADARESOL] [datetime] NULL,
	[ORIGEN] [varchar](1) NULL,
 CONSTRAINT [PK_SOLICITUD] PRIMARY KEY CLUSTERED 
(
	[FOLIOSOLICITUD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLESPRIVILEGIOS]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLESPRIVILEGIOS](
	[CODPRIVILEGIOS] [int] NULL,
	[CODROL] [int] NULL,
	[ESTADOROLPRIVI] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLUJOSOLICITUD]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUJOSOLICITUD](
	[SECUENCIA] [int] NOT NULL,
	[CODTIPOSOLICITUD] [int] NOT NULL,
	[CODACTIVIDAD] [int] NOT NULL,
	[CODUNIDAD] [int] NOT NULL,
	[APROBADOR] [int] NULL,
	[ESTADO] [int] NULL,
	[SI] [varchar](2) NULL,
	[NO] [varchar](2) NULL,
	[BIFURCACION] [int] NULL,
 CONSTRAINT [PK_FLUJOSOLICITUD] PRIMARY KEY CLUSTERED 
(
	[SECUENCIA] ASC,
	[CODTIPOSOLICITUD] ASC,
	[CODACTIVIDAD] ASC,
	[CODUNIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERRORES]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERRORES](
	[IDERROR] [int] IDENTITY(1,1) NOT NULL,
	[RUTUSUARIO] [varchar](10) NULL,
	[NOMBREPROCEDIMIENTO] [varchar](100) NULL,
	[CODERROR] [varchar](100) NULL,
	[GLOSAERROR] [varchar](max) NULL,
	[OBSERVACION] [varchar](max) NULL,
	[FECHA] [datetime] NULL,
	[METODO] [varchar](100) NULL,
 CONSTRAINT [PK_ERRORES] PRIMARY KEY CLUSTERED 
(
	[IDERROR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLESOLICITUD]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLESOLICITUD](
	[FOLIOSOLICITUD] [int] NOT NULL,
	[SECUENCIA] [int] NOT NULL,
	[CODTIPOSOLICITUD] [int] NOT NULL,
	[CODACTIVIDAD] [int] NOT NULL,
	[CODUNIDAD] [int] NOT NULL,
	[RUTUSUARIO] [varchar](10) NULL,
	[GLOSADETALLESOL] [varchar](500) NULL,
	[CODESTADO] [int] NOT NULL,
	[FECHAEJECACTIVIDAD] [datetime] NULL,
	[FECHAVENCSOL] [datetime] NULL,
	[DIASATRASO] [int] NULL,
	[FECHARESOLUCION] [datetime] NULL,
	[FECHARECEP] [datetime] NULL,
	[ESTAAPROBADO] [int] NULL,
	[ETAPA] [int] NULL,
 CONSTRAINT [PK_DETALLESOLICITUD] PRIMARY KEY CLUSTERED 
(
	[FOLIOSOLICITUD] ASC,
	[SECUENCIA] ASC,
	[CODTIPOSOLICITUD] ASC,
	[CODACTIVIDAD] ASC,
	[CODUNIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[RUTUSUARIO] [varchar](10) NULL,
	[FECHA] [datetime] NULL,
	[IP] [varchar](max) NULL,
	[MODULO] [varchar](max) NULL,
	[ACCION] [varchar](max) NULL,
	[OBSERVACION] [varchar](max) NULL,
	[DISPOSITIVO] [varchar](50) NULL,
	[NOMBREMAQUINA] [varchar](max) NULL,
	[MACADDRESS] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADJUNTOS]    Script Date: 08/08/2015 14:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADJUNTOS](
	[IDARCHIVO] [int] IDENTITY(1,1) NOT NULL,
	[FOLIOSOLICITUD] [int] NULL,
	[NOMBREARCHIVO] [varchar](50) NULL,
	[ARCHIVOPDF] [varbinary](max) NULL,
	[TIPOADJUNTO] [varchar](1) NULL,
	[SECUENCIA] [int] NULL,
 CONSTRAINT [PK_ADJUNTOS] PRIMARY KEY CLUSTERED 
(
	[IDARCHIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_ADJUNTOS_REFERENCE_SOLICITU]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[ADJUNTOS]  WITH CHECK ADD  CONSTRAINT [FK_ADJUNTOS_REFERENCE_SOLICITU] FOREIGN KEY([FOLIOSOLICITUD])
REFERENCES [dbo].[SOLICITUD] ([FOLIOSOLICITUD])
GO
ALTER TABLE [dbo].[ADJUNTOS] CHECK CONSTRAINT [FK_ADJUNTOS_REFERENCE_SOLICITU]
GO
/****** Object:  ForeignKey [FK_AUDITORI_REFERENCE_USUARIO]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_AUDITORI_REFERENCE_USUARIO] FOREIGN KEY([RUTUSUARIO])
REFERENCES [dbo].[USUARIO] ([RUTUSUARIO])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_AUDITORI_REFERENCE_USUARIO]
GO
/****** Object:  ForeignKey [FK_DETALLES_REFERENCE_ESTADOS]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[DETALLESOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_REFERENCE_ESTADOS] FOREIGN KEY([CODESTADO])
REFERENCES [dbo].[ESTADOS] ([CODESTADO])
GO
ALTER TABLE [dbo].[DETALLESOLICITUD] CHECK CONSTRAINT [FK_DETALLES_REFERENCE_ESTADOS]
GO
/****** Object:  ForeignKey [FK_DETALLES_REFERENCE_FLUJOSOL]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[DETALLESOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_REFERENCE_FLUJOSOL] FOREIGN KEY([SECUENCIA], [CODTIPOSOLICITUD], [CODACTIVIDAD], [CODUNIDAD])
REFERENCES [dbo].[FLUJOSOLICITUD] ([SECUENCIA], [CODTIPOSOLICITUD], [CODACTIVIDAD], [CODUNIDAD])
GO
ALTER TABLE [dbo].[DETALLESOLICITUD] CHECK CONSTRAINT [FK_DETALLES_REFERENCE_FLUJOSOL]
GO
/****** Object:  ForeignKey [FK_DETALLES_REFERENCE_SOLICITU]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[DETALLESOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_REFERENCE_SOLICITU] FOREIGN KEY([FOLIOSOLICITUD])
REFERENCES [dbo].[SOLICITUD] ([FOLIOSOLICITUD])
GO
ALTER TABLE [dbo].[DETALLESOLICITUD] CHECK CONSTRAINT [FK_DETALLES_REFERENCE_SOLICITU]
GO
/****** Object:  ForeignKey [FK_DETALLES_REFERENCE_USUARIO]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[DETALLESOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_REFERENCE_USUARIO] FOREIGN KEY([RUTUSUARIO])
REFERENCES [dbo].[USUARIO] ([RUTUSUARIO])
GO
ALTER TABLE [dbo].[DETALLESOLICITUD] CHECK CONSTRAINT [FK_DETALLES_REFERENCE_USUARIO]
GO
/****** Object:  ForeignKey [FK_ERRORES_REFERENCE_USUARIO]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[ERRORES]  WITH CHECK ADD  CONSTRAINT [FK_ERRORES_REFERENCE_USUARIO] FOREIGN KEY([RUTUSUARIO])
REFERENCES [dbo].[USUARIO] ([RUTUSUARIO])
GO
ALTER TABLE [dbo].[ERRORES] CHECK CONSTRAINT [FK_ERRORES_REFERENCE_USUARIO]
GO
/****** Object:  ForeignKey [FK_FLUJOSOL_REFERENCE_ACTIVIDA]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[FLUJOSOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_FLUJOSOL_REFERENCE_ACTIVIDA] FOREIGN KEY([CODACTIVIDAD])
REFERENCES [dbo].[ACTIVIDAD] ([CODACTIVIDAD])
GO
ALTER TABLE [dbo].[FLUJOSOLICITUD] CHECK CONSTRAINT [FK_FLUJOSOL_REFERENCE_ACTIVIDA]
GO
/****** Object:  ForeignKey [FK_FLUJOSOL_REFERENCE_TIPOSOLI]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[FLUJOSOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_FLUJOSOL_REFERENCE_TIPOSOLI] FOREIGN KEY([CODTIPOSOLICITUD])
REFERENCES [dbo].[TIPOSOLICITUD] ([CODTIPOSOLICITUD])
GO
ALTER TABLE [dbo].[FLUJOSOLICITUD] CHECK CONSTRAINT [FK_FLUJOSOL_REFERENCE_TIPOSOLI]
GO
/****** Object:  ForeignKey [FK_FLUJOSOL_REFERENCE_UNIDADES]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[FLUJOSOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_FLUJOSOL_REFERENCE_UNIDADES] FOREIGN KEY([CODUNIDAD])
REFERENCES [dbo].[UNIDADES] ([CODUNIDAD])
GO
ALTER TABLE [dbo].[FLUJOSOLICITUD] CHECK CONSTRAINT [FK_FLUJOSOL_REFERENCE_UNIDADES]
GO
/****** Object:  ForeignKey [FK_ROLESPRI_REFERENCE_PRIVILEG]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[ROLESPRIVILEGIOS]  WITH CHECK ADD  CONSTRAINT [FK_ROLESPRI_REFERENCE_PRIVILEG] FOREIGN KEY([CODPRIVILEGIOS])
REFERENCES [dbo].[PRIVILEGIOS] ([CODPRIVILEGIOS])
GO
ALTER TABLE [dbo].[ROLESPRIVILEGIOS] CHECK CONSTRAINT [FK_ROLESPRI_REFERENCE_PRIVILEG]
GO
/****** Object:  ForeignKey [FK_ROLESPRI_REFERENCE_ROL]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[ROLESPRIVILEGIOS]  WITH CHECK ADD  CONSTRAINT [FK_ROLESPRI_REFERENCE_ROL] FOREIGN KEY([CODROL])
REFERENCES [dbo].[ROL] ([CODROL])
GO
ALTER TABLE [dbo].[ROLESPRIVILEGIOS] CHECK CONSTRAINT [FK_ROLESPRI_REFERENCE_ROL]
GO
/****** Object:  ForeignKey [FK_SOLICITU_REFERENCE_TIPOSOLI]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[SOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITU_REFERENCE_TIPOSOLI] FOREIGN KEY([CODTIPOSOLICITUD])
REFERENCES [dbo].[TIPOSOLICITUD] ([CODTIPOSOLICITUD])
GO
ALTER TABLE [dbo].[SOLICITUD] CHECK CONSTRAINT [FK_SOLICITU_REFERENCE_TIPOSOLI]
GO
/****** Object:  ForeignKey [FK_USUARIO_REFERENCE_ROL]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_REFERENCE_ROL] FOREIGN KEY([CODROL])
REFERENCES [dbo].[ROL] ([CODROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_REFERENCE_ROL]
GO
/****** Object:  ForeignKey [FK_USUARIO_REFERENCE_UNIDADES]    Script Date: 08/08/2015 14:02:06 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_REFERENCE_UNIDADES] FOREIGN KEY([CODUNIDAD])
REFERENCES [dbo].[UNIDADES] ([CODUNIDAD])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_REFERENCE_UNIDADES]
GO
